aiodns==3.2.0
aiohappyeyeballs==2.4.3
aiohttp[speedups]==3.11.6
aiosignal==1.3.1
asn1crypto==1.5.1
attrs==24.2.0
autocommand==2.2.2
backports-tarfile==1.2.0
boto3==1.35.65
botocore==1.35.65
brotli==1.1.0
cachetools==5.5.0
cattrs==24.1.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cheroot==10.0.1
cherrypy==18.10.0
cryptography==43.0.3
filelock==3.16.1
fixinventoryclient==2.0.1
fixinventorylib==4.1.0
flexcache==0.3
flexparser==0.4
frozendict==2.4.6
frozenlist==1.5.0
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
idna==3.10
isodate==0.7.2
jaraco-collections==5.1.0
jaraco-context==6.0.1
jaraco-functools==4.1.0
jaraco-text==4.0.0
jmespath==1.0.1
jsons==1.6.3
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.5.0
multidict==6.1.0
networkx==3.4.2
packaging==24.2
parsy==2.1
pint==0.24.4
platformdirs==4.3.6
portend==3.2.0
prometheus-client==0.21.0
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
psutil==6.1.0
psycopg2-binary==2.9.10
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycares==4.4.0
pycparser==2.22
pygments==2.18.0
pyjwt==2.10.0
pymysql==1.1.1
pyopenssl==24.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
pyyaml==6.0.2
requests==2.32.3
rich==13.9.4
rsa==4.9
s3transfer==0.10.3
six==1.16.0
snowflake-connector-python==3.13.1
snowflake-sqlalchemy==1.6.1
sortedcontainers==2.4.0
sqlalchemy==1.4.54
tempora==5.7.0
tomlkit==0.13.2
typeguard==4.4.1
typing-extensions==4.12.2
typish==1.9.3
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.20
websocket-client==1.8.0
yarl==1.17.2
zc-lockfile==3.0.post1

# The following packages are considered to be unsafe in a requirements file:
setuptools==75.5.0
